<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .image-thumbnail{
            height: 250px;
            object-fit: cover;
        }
    </style>
</head>
<body class="" style="background-color: #610c20;">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Personal Gallery</a>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search'%}">
            <input name="searches" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Category</button>
          </form>
        </div>
    </nav>

    <div class="containe">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header" style="background-color: #2E0249; color: white;" >
                      Categories
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <a href="{% url 'gallery' %}">All</a>
                        </li>

                        {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}?category={{category.name}}">{{category.name}}</a>
                            </li>
                        {% endfor %}
                      
                     
                      <a href="{% url 'add' %}" class="btn btn-warning btn-block btn-sm m-1">Add Photo</a>
                     
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                   <div class="col-md-4">
                    <div class="card my-4">
                        <img class="image-thumbnail" src="{{photo.image.url}}" alt="car image">

                        <div class="card-body">
                          <small>Category: {{photo.category.name}}</small>
                        </div>
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-info btn-sm m-1" >Click view image</a>
                    </div>
                   </div>
                   {% empty %}
                   <h2>No photos.</h2>
                   {% endfor %}
                </div> 
            </div>
        </div>
    </div>

    
</body>
</html>